<header class="main-header">
    <div class="header-top">
        <div class="logo">
            <h1>CSE Motors</h1>
        </div>
        <div class="account-link">
            <a href="/account">My Account</a>
        </div>
    </div>
</header>